# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import yfinance as yf

## How to work with a Ticker object

In [7]:
symbol = 'AAPL'
ticker = yf.Ticker(symbol)

### Show ticker info

In [8]:
pd.Series(ticker.info).head(20)

address1                                                One Apple Park Way
city                                                             Cupertino
state                                                                   CA
zip                                                                  95014
country                                                      United States
phone                                                       (408) 996-1010
website                                              https://www.apple.com
industry                                              Consumer Electronics
industryKey                                           consumer-electronics
industryDisp                                          Consumer Electronics
sector                                                          Technology
sectorKey                                                       technology
sectorDisp                                                      Technology
longBusinessSummary      Apple Inc. designs, manufactures, and markets ...
fullTimeEmployees                                                   150000
companyOfficers          [{'maxAge': 1, 'name': 'Mr. Timothy D. Cook', ...
auditRisk                                                                7
boardRisk                                                                1
compensationRisk                                                         3
shareHolderRightsRisk                                                    1
dtype: object

### Get market data

In [9]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1948 entries, 2025-03-24 09:30:00-04:00 to 2025-03-28 15:59:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1948 non-null   float64
 1   High          1948 non-null   float64
 2   Low           1948 non-null   float64
 3   Close         1948 non-null   float64
 4   Volume        1948 non-null   int64
 5   Dividends     1948 non-null   float64
 6   Stock Splits  1948 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 121.8 KB

### View company actions

In [10]:
# show actions (dividends, splits)
ticker.actions

                           Dividends  Stock Splits
Date
1987-05-11 00:00:00-04:00   0.000536           0.0
1987-06-16 00:00:00-04:00   0.000000           2.0
1987-08-10 00:00:00-04:00   0.000536           0.0
1987-11-17 00:00:00-05:00   0.000714           0.0
1988-02-12 00:00:00-05:00   0.000714           0.0
...                              ...           ...
2024-02-09 00:00:00-05:00   0.240000           0.0
2024-05-10 00:00:00-04:00   0.250000           0.0
2024-08-12 00:00:00-04:00   0.250000           0.0
2024-11-08 00:00:00-05:00   0.250000           0.0
2025-02-10 00:00:00-05:00   0.250000           0.0

[91 rows x 2 columns]

In [11]:
ticker.dividends

Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2024-02-09 00:00:00-05:00    0.240000
2024-05-10 00:00:00-04:00    0.250000
2024-08-12 00:00:00-04:00    0.250000
2024-11-08 00:00:00-05:00    0.250000
2025-02-10 00:00:00-05:00    0.250000
Name: Dividends, Length: 86, dtype: float64

In [12]:
ticker.splits

Date
1987-06-16 00:00:00-04:00    2.0
2000-06-21 00:00:00-04:00    2.0
2005-02-28 00:00:00-05:00    2.0
2014-06-09 00:00:00-04:00    7.0
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64

### Annual and Quarterly Financial Statement Summary

In [13]:
ticker.financials

,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2020-09-30
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0,NaN
Tax Rate For Calcs,0.241,0.147,0.162,0.133,NaN
Normalized EBITDA,134661000000.0,125820000000.0,130541000000.0,123136000000.0,NaN
Net Income From Continuing Operation Net Minority Interest,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Reconciled Depreciation,11445000000.0,11519000000.0,11104000000.0,11284000000.0,NaN
Reconciled Cost Of Revenue,210352000000.0,214137000000.0,223546000000.0,212981000000.0,NaN
EBITDA,134661000000.0,125820000000.0,130541000000.0,123136000000.0,NaN
EBIT,123216000000.0,114301000000.0,119437000000.0,111852000000.0,NaN
Net Interest Income,NaN,-183000000.0,-106000000.0,198000000.0,890000000.0
Interest Expense,NaN,3933000000.0,2931000000.0,2645000000.0,2873000000.0
Interest Income,NaN,3750000000.0,2825000000.0,2843000000.0,3763000000.0
Normalized Income,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income From Continuing And Discontinued Operation,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Total Expenses,267819000000.0,268984000000.0,274891000000.0,256868000000.0,NaN
Total Operating Income As Reported,123216000000.0,114301000000.0,119437000000.0,108949000000.0,NaN
Diluted Average Shares,15408095000.0,15812547000.0,16325819000.0,16864919000.0,NaN
Basic Average Shares,15343783000.0,15744231000.0,16215963000.0,16701272000.0,NaN
Diluted EPS,6.08,6.13,6.11,5.61,NaN
Basic EPS,6.11,6.16,6.15,5.67,NaN
Diluted NI Availto Com Stockholders,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income Common Stockholders,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income Including Noncontrolling Interests,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income Continuous Operations,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Tax Provision,29749000000.0,16741000000.0,19300000000.0,14527000000.0,NaN
Pretax Income,123485000000.0,113736000000.0,119103000000.0,109207000000.0,NaN
Other Income Expense,269000000.0,-565000000.0,-334000000.0,60000000.0,NaN
Other Non Operating Income Expenses,269000000.0,-565000000.0,-334000000.0,60000000.0,NaN
Net Non Operating Interest Income Expense,NaN,-183000000.0,-106000000.0,198000000.0,890000000.0
Interest Expense Non Operating,NaN,3933000000.0,2931000000.0,2645000000.0,2873000000.0
Interest Income Non Operating,NaN,3750000000.0,2825000000.0,2843000000.0,3763000000.0
Operating Income,123216000000.0,114301000000.0,119437000000.0,108949000000.0,NaN
Operating Expense,57467000000.0,54847000000.0,51345000000.0,43887000000.0,NaN
Research And Development,31370000000.0,29915000000.0,26251000000.0,21914000000.0,NaN
Selling General And Administration,26097000000.0,24932000000.0,25094000000.0,21973000000.0,NaN
Gross Profit,180683000000.0,169148000000.0,170782000000.0,152836000000.0,NaN
Cost Of Revenue,210352000000.0,214137000000.0,223546000000.0,212981000000.0,NaN
Total Revenue,391035000000.0,383285000000.0,394328000000.0,365817000000.0,NaN
Operating Revenue,391035000000.0,383285000000.0,394328000000.0,365817000000.0,NaN

In [10]:
ticker.quarterly_financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

### Annual and Quarterly Balance Sheet

In [11]:
ticker.balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [12]:
ticker.quarterly_balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

### Annual and Quarterly Cashflow Statement

In [14]:
ticker.cashflow

,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2020-09-30
Free Cash Flow,108807000000.0,99584000000.0,111443000000.0,92953000000.0,NaN
Repurchase Of Capital Stock,-94949000000.0,-77550000000.0,-89402000000.0,-85971000000.0,NaN
Repayment Of Debt,-9958000000.0,-11151000000.0,-9543000000.0,-8750000000.0,NaN
Issuance Of Debt,0.0,5228000000.0,5465000000.0,20393000000.0,NaN
Issuance Of Capital Stock,NaN,NaN,NaN,1105000000.0,880000000.0
Capital Expenditure,-9447000000.0,-10959000000.0,-10708000000.0,-11085000000.0,NaN
Interest Paid Supplemental Data,NaN,3803000000.0,2865000000.0,2687000000.0,3002000000.0
Income Tax Paid Supplemental Data,26102000000.0,18679000000.0,19573000000.0,25385000000.0,NaN
End Cash Position,29943000000.0,30737000000.0,24977000000.0,35929000000.0,NaN
Beginning Cash Position,30737000000.0,24977000000.0,35929000000.0,39789000000.0,NaN
Changes In Cash,-794000000.0,5760000000.0,-10952000000.0,-3860000000.0,NaN
Financing Cash Flow,-121983000000.0,-108488000000.0,-110749000000.0,-93353000000.0,NaN
Cash Flow From Continuing Financing Activities,-121983000000.0,-108488000000.0,-110749000000.0,-93353000000.0,NaN
Net Other Financing Charges,-5802000000.0,-6012000000.0,-6383000000.0,-5580000000.0,NaN
Cash Dividends Paid,-15234000000.0,-15025000000.0,-14841000000.0,-14467000000.0,NaN
Common Stock Dividend Paid,-15234000000.0,-15025000000.0,-14841000000.0,-14467000000.0,NaN
Net Common Stock Issuance,-94949000000.0,-77550000000.0,-89402000000.0,-85971000000.0,NaN
Common Stock Payments,-94949000000.0,-77550000000.0,-89402000000.0,-85971000000.0,NaN
Common Stock Issuance,NaN,NaN,NaN,1105000000.0,880000000.0
Net Issuance Payments Of Debt,-5998000000.0,-9901000000.0,-123000000.0,12665000000.0,NaN
Net Short Term Debt Issuance,3960000000.0,-3978000000.0,3955000000.0,1022000000.0,NaN
Net Long Term Debt Issuance,-9958000000.0,-5923000000.0,-4078000000.0,11643000000.0,NaN
Long Term Debt Payments,-9958000000.0,-11151000000.0,-9543000000.0,-8750000000.0,NaN
Long Term Debt Issuance,0.0,5228000000.0,5465000000.0,20393000000.0,NaN
Investing Cash Flow,2935000000.0,3705000000.0,-22354000000.0,-14545000000.0,NaN
Cash Flow From Continuing Investing Activities,2935000000.0,3705000000.0,-22354000000.0,-14545000000.0,NaN
Net Other Investing Changes,-1308000000.0,-1337000000.0,-2086000000.0,-385000000.0,NaN
Net Investment Purchase And Sale,13690000000.0,16001000000.0,-9560000000.0,-3075000000.0,NaN
Sale Of Investment,62346000000.0,45514000000.0,67363000000.0,106483000000.0,NaN
Purchase Of Investment,-48656000000.0,-29513000000.0,-76923000000.0,-109558000000.0,NaN
Net Business Purchase And Sale,NaN,NaN,-306000000.0,-33000000.0,-1524000000.0
Purchase Of Business,NaN,NaN,-306000000.0,-33000000.0,-1524000000.0
Net PPE Purchase And Sale,-9447000000.0,-10959000000.0,-10708000000.0,-11085000000.0,NaN
Purchase Of PPE,-9447000000.0,-10959000000.0,-10708000000.0,-11085000000.0,NaN
Operating Cash Flow,118254000000.0,110543000000.0,122151000000.0,104038000000.0,NaN
Cash Flow From Continuing Operating Activities,118254000000.0,110543000000.0,122151000000.0,104038000000.0,NaN
Change In Working Capital,3651000000.0,-6577000000.0,1200000000.0,-4911000000.0,NaN
Change In Other Working Capital,NaN,NaN,478000000.0,1676000000.0,2081000000.0
Change In Other Current Liabilities,15552000000.0,3031000000.0,6110000000.0,7475000000.0,NaN
Change In Other Current Assets,-11731000000.0,-5684000000.0,-6499000000.0,-8042000000.0,NaN
Change In Payables And Accrued Expense,6020000000.0,-1889000000.0,9448000000.0,12326000000.0,NaN
Change In Payable,6020000000.0,-1889000000.0,9448000000.0,12326000000.0,NaN
Change In Account Payable,6020000000.0,-1889000000.0,9448000000.0,12326000000.0,NaN
Change In Inventory,-1046000000.0,-1618000000.0,1484000000.0,-2642000000.0,NaN
Change In Receivables,-5144000000.0,-417000000.0,-9343000000.0,-14028000000.0,NaN
Changes In Account Receivables,-3788000000.0,-1688000000.0,-1823000000.0,-10125000000.0,NaN
Other Non Cash Items,-2266000000.0,-2227000000.0,1006000000.0,-4921000000.0,NaN
Stock Based Compensation,11688000000.0,10833000000.0,9038000000.0,7906000000.0,NaN
Deferred Tax,NaN,NaN,895000000.0,-4774000000.0,-215000000.0
Deferred Income Tax,NaN,NaN,895000000.0,-4774000000.0,-215000000.0
Depreciation Amortization Depletion,11445000000.0,11519000000.0,11104000000.0,11284000000.0,NaN
Depreciation And Amortization,11445000000.0,11519000000.0,11104000000.0,11284000000.0,NaN
Net Income From Continuing Operations,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN

In [14]:
ticker.quarterly_cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [15]:
ticker.earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [16]:
ticker.quarterly_earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

### Sustainability: Environmental, Social and Governance (ESG)

In [17]:
ticker.sustainability

                                     Value
2020-10
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                          17.68
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              102
governanceScore                      12.28
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             31.40
highestControversy                       4
esgPerformance                    OUT_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           61.39
peerGroup              Software & Services
smallArms                            False
environmentScore                      1.43
governancePercentile                  None
militaryContract                     False

### Analyst Recommendations

In [15]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   period      4 non-null      object
 1   strongBuy   4 non-null      int64
 2   buy         4 non-null      int64
 3   hold        4 non-null      int64
 4   sell        4 non-null      int64
 5   strongSell  4 non-null      int64
dtypes: int64(5), object(1)
memory usage: 320.0+ bytes

In [16]:
ticker.recommendations.tail(10)

  period  strongBuy  buy  hold  sell  strongSell
0     0m          7   21    14     2           1
1    -1m          7   21    13     2           2
2    -2m          8   21    13     2           2
3    -3m          8   24    12     1           2

### Upcoming Events

In [17]:
ticker.calendar

{'Dividend Date': datetime.date(2025, 2, 13),
 'Ex-Dividend Date': datetime.date(2025, 2, 10),
 'Earnings Date': [datetime.date(2025, 4, 30), datetime.date(2025, 5, 5)],
 'Earnings High': 1.67,
 'Earnings Low': 1.5,
 'Earnings Average': 1.6161,
 'Revenue High': 95903397000,
 'Revenue Low': 89370000000,
 'Revenue Average': 94043129260}

### Option Expiration Dates

In [18]:
ticker.options

('2025-04-04',
 '2025-04-11',
 '2025-04-17',
 '2025-04-25',
 '2025-05-02',
 '2025-05-16',
 '2025-06-20',
 '2025-07-18',
 '2025-08-15',
 '2025-09-19',
 '2025-10-17',
 '2025-12-19',
 '2026-01-16',
 '2026-03-20',
 '2026-06-18',
 '2026-12-18',
 '2027-01-15',
 '2027-06-17',
 '2027-12-17')

In [19]:
expiration = ticker.options[0]

In [20]:
options = ticker.option_chain(expiration)

In [21]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     53 non-null     object
 1   lastTradeDate      53 non-null     datetime64[ns, UTC]
 2   strike             53 non-null     float64
 3   lastPrice          53 non-null     float64
 4   bid                53 non-null     float64
 5   ask                53 non-null     float64
 6   change             53 non-null     float64
 7   percentChange      53 non-null     float64
 8   volume             53 non-null     int64
 9   openInterest       53 non-null     int64
 10  impliedVolatility  53 non-null     float64
 11  inTheMoney         53 non-null     bool
 12  contractSize       53 non-null     object
 13  currency           53 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(7), int64(2), object(3)
memory usage: 5.6+ KB

In [22]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL250404C00100000,2025-03-28 13:51:52+00:00,100.0,123.61,117.6,119.05,10.010002,8.811622,9,2,2.757816,True,REGULAR,USD
1,AAPL250404C00110000,2025-03-21 16:02:33+00:00,110.0,103.06,106.8,109.10,0.000000,0.000000,2,34,1.867188,True,REGULAR,USD
2,AAPL250404C00120000,2025-03-19 17:17:34+00:00,120.0,94.80,96.8,99.10,0.000000,0.000000,1,13,1.640627,True,REGULAR,USD
3,AAPL250404C00130000,2025-03-27 19:55:00+00:00,130.0,94.50,87.6,88.15,0.000000,0.000000,1,9,1.759767,True,REGULAR,USD
4,AAPL250404C00140000,2025-03-28 18:28:10+00:00,140.0,79.19,77.6,78.20,-3.059998,-3.720362,35,12,0.500005,True,REGULAR,USD

In [23]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     48 non-null     object
 1   lastTradeDate      48 non-null     datetime64[ns, UTC]
 2   strike             48 non-null     float64
 3   lastPrice          48 non-null     float64
 4   bid                48 non-null     float64
 5   ask                48 non-null     float64
 6   change             48 non-null     float64
 7   percentChange      48 non-null     float64
 8   volume             45 non-null     float64
 9   openInterest       48 non-null     int64
 10  impliedVolatility  48 non-null     float64
 11  inTheMoney         48 non-null     bool
 12  contractSize       48 non-null     object
 13  currency           48 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 5.0+ KB

## Data Download with proxy server

You can use a proxy server to avoid having your IP blacklisted as illustrated below (but need an actual PROXY_SERVER).

In [27]:
PROXY_SERVER = 'PROXY_SERVER'

The following will only work with proper PROXY_SERVER...

In [28]:
# msft = yf.Ticker("MSFT")

# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msft.get_dividends(proxy=PROXY_SERVER)
# msft.get_splits(proxy=PROXY_SERVER)
# msft.get_balance_sheet(proxy=PROXY_SERVER)
# msft.get_cashflow(proxy=PROXY_SERVER)
# msft.option_chain(proxy=PROXY_SERVER)

## Downloading multiple symbols

In [29]:
tickers = yf.Tickers('msft aapl goog')

In [30]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [31]:
pd.Series(tickers.tickers['MSFT'].info)

zip                                                                98052-6399
sector                                                             Technology
fullTimeEmployees                                                      163000
longBusinessSummary         Microsoft Corporation develops, licenses, and ...
city                                                                  Redmond
                                                  ...
impliedSharesOutstanding                                                 None
category                                                                 None
fiveYearAverageReturn                                                    None
regularMarketPrice                                                     225.23
logo_url                              https://logo.clearbit.com/microsoft.com
Length: 123, dtype: object

In [32]:
tickers.tickers['AAPL'].history(period="1mo")

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2020-11-30  116.97  120.97  116.81  119.05  169410200          0             0
2020-12-01  121.01  123.47  120.01  122.72  128166800          0             0
2020-12-02  122.02  123.37  120.89  123.08   89004200          0             0
2020-12-03  123.52  123.78  122.21  122.94   78967600          0             0
2020-12-04  122.60  122.86  121.52  122.25   78260400          0             0
2020-12-07  122.31  124.57  122.25  123.75   86712000          0             0
2020-12-08  124.37  124.98  123.09  124.38   82225500          0             0
2020-12-09  124.53  125.95  121.00  121.78  115089200          0             0
2020-12-10  120.50  123.87  120.15  123.24   81312200          0             0
2020-12-11  122.43  122.76  120.55  122.41   86939800          0             0
2020-12-14  122.60  123.35  121.54  121.78   79184500          0             0
2020-12-15  124.34  127.90  124.13  127.88  157572300          0             0
2020-12-16  127.41  128.37  126.56  127.81   98208600          0             0
2020-12-17  128.90  129.58  128.04  128.70   94359800          0             0
2020-12-18  128.96  129.10  126.12  126.66  192541500          0             0
2020-12-21  125.02  128.31  123.45  128.23  121251600          0             0
2020-12-22  131.61  134.41  129.65  131.88  168904800          0             0
2020-12-23  132.16  132.43  130.78  130.96   88223700          0             0
2020-12-24  131.32  133.46  131.10  131.97   54930100          0             0
2020-12-28  133.99  137.34  133.51  136.69  124486200          0             0
2020-12-29  138.05  138.79  134.34  134.87  120778200          0             0
2020-12-30  135.58  135.99  133.40  133.72   92882124          0             0

In [33]:
tickers.history(period='1mo').stack(-1)

[*********************100%***********************]  3 of 3 completed

                       Close  Dividends         High          Low  \
Date
2020-11-30 AAPL   119.050003          0   120.970001   116.809998
           GOOG  1760.739990          0  1788.064941  1755.000000
           MSFT   214.070007          0   214.759995   210.839996
2020-12-01 AAPL   122.720001          0   123.470001   120.010002
           GOOG  1798.099976          0  1824.829956  1769.369995
...                      ...        ...          ...          ...
2020-12-29 GOOG  1758.719971          0  1792.439941  1756.089966
           MSFT   224.149994          0   227.179993   223.580002
2020-12-30 AAPL   133.720001          0   135.990005   133.399994
           GOOG  1739.520020          0  1765.094971  1725.680054
           MSFT   221.679993          0   225.630005   221.470001

                        Open  Stock Splits     Volume
Date
2020-11-30 AAPL   116.970001             0  169410200
           GOOG  1781.183960             0    1823800
           MSFT   214.100006             0   33064800
2020-12-01 AAPL   121.010002             0  128166800
           GOOG  1774.369995             0    1739000
...                      ...           ...        ...
2020-12-29 GOOG  1787.790039             0    1298600
           MSFT   226.309998             0   17348000
2020-12-30 AAPL   135.580002             0   92882124
           GOOG  1762.010010             0    1293285
           MSFT   225.229996             0   19273172

[66 rows x 7 columns]

In [34]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%***********************]  2 of 2 completed

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2020-01-02 to 2020-01-03
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2 non-null      float64
 1   (Adj Close, SPY)   2 non-null      float64
 2   (Close, AAPL)      2 non-null      float64
 3   (Close, SPY)       2 non-null      float64
 4   (High, AAPL)       2 non-null      float64
 5   (High, SPY)        2 non-null      float64
 6   (Low, AAPL)        2 non-null      float64
 7   (Low, SPY)         2 non-null      float64
 8   (Open, AAPL)       2 non-null      float64
 9   (Open, SPY)        2 non-null      float64
 10  (Volume, AAPL)     2 non-null      int64
 11  (Volume, SPY)      2 non-null      int64
dtypes: float64(10), int64(2)
memory usage: 208.0 bytes

In [36]:
data = yf.download(
        tickers = "SPY AAPL MSFT", # list or string

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "5d",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4045 entries, 2020-12-23 04:15:00-05:00 to 2020-12-30 17:10:00-05:00
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (MSFT, Open)    2500 non-null   float64
 1   (MSFT, High)    2500 non-null   float64
 2   (MSFT, Low)     2500 non-null   float64
 3   (MSFT, Close)   2500 non-null   float64
 4   (MSFT, Volume)  2500 non-null   float64
 5   (AAPL, Open)    3843 non-null   float64
 6   (AAPL, High)    3843 non-null   float64
 7   (AAPL, Low)     3843 non-null   float64
 8   (AAPL, Close)   3843 non-null   float64
 9   (AAPL, Volume)  3843 non-null   float64
 10  (SPY, Open)     3358 non-null   float64
 11  (SPY, High)     3358 non-null   float64
 12  (SPY, Low)      3358 non-null   float64
 13  (SPY, Close)    3358 non-null   float64
 14  (SPY, Volume)   3358 non-null   float64
dtypes: float64(15)
memory usage: 505.6 KB

In [38]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

# download dataframe
data = pdr.get_data_yahoo('SPY',
                          start='2017-01-01',
                          end='2019-04-30',
                          auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [39]:
# auto_adjust = True
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,283.410553,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,282.781616,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,282.607452,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,283.923462,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,284.368561,57197700

In [40]:
# auto_adjust = False
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,283.410553,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,282.781616,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,282.607452,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,283.923462,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,284.368561,57197700